body{
    font-family: 'Lora', serif;
    height: 400vh;
    background-color: #f16059;
    height: 100vh;
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}


h1{
    padding-top: 10vw;
    padding-bottom: 10px;
    text-align: center;
    font-size: 80px;
    font-family: 'Syne Mono', monospace;
    font-weight: 1000;
    text-transform: uppercase;
}

.wholeDate{
    display: block;
    border: none;
    text-align: center;
    
    
}


body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

div{
    font-size: 40px;
    padding-top: 20vh;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-weight: 100;
    text-transform: uppercase;
}
